
footer {
    margin-top: auto;
    padding-top: 1rem 0;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1) !important;
}
:host {
  margin-top: auto;
}
.icon{
  height: 30px;
  color: white;
  transition: transform 0.2s;
}
.icon:hover{
  color: rgb(23, 96, 255);
  transform: scale(1.1);
}
.caixa{
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem 1rem;
  border-radius: 0.3rem;
}
.footerElemento{
  padding: 1.5rem 1rem;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
