<div class="container-fluid d-flex justify-content-center my-5 py-5">
  <h1 class="display-1">
    Catálogo
  </h1>
</div>

<app-circulo-carregamento [mostrar]="carregando"></app-circulo-carregamento>
<!-- Conteúdo Principal -->
<main class="container mt-1" *ngIf="!carregando">
  <div class="row">
    <div class="col-xl-9 mt-1 px-0">
      <div *ngFor="let grupo of livros" class="mb-5 ">
        <h2 class="mb-3" style="margin-left: 8px;">{{ grupo.titulo }}</h2>
        <div class="row col-12 ">
          <div *ngFor="let livro of grupo.itens" class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2 p-1">
            <a href="#" [routerLink]="['/livros', livro.edition_key[0]]" [appTooltip]="livro.title">
              <div class="card" appTextOverflowEllipsis>
                <img *ngIf="livro.cover_i" [src]=" 'https://covers.openlibrary.org/b/id/' + livro.cover_i +'-L.jpg'" class="card-img-top" alt="Capa do livro"/>
                <div class="card-footer d-flex flex-column justify-content-between">
                  <div class="d-flex flex-column">
                    <small class="text-body-primary fs-6">{{livro.title | filtrarResultadosApi}}</small>
                    <small class="text-body-secondary">{{livro.author_name | filtrarResultadosApi}}</small>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <app-livros-salvos class="col-3 mt-5"></app-livros-salvos>
</div>

</main>





<!--
<div class="container-fluid" id="transicao1">
  <p class="fs-1" id="textonome">Books open</p>
    <img src="imagens/bookopen.png" alt="imagem logo" class="rounded float-start" id="bookicon">

    <p class="fs-1" id="transicaotexto">

      Booksopen é um site para amantes de livros.

    Descubra o melhor dos livros, lendo os seus livros favoritos e se aprofundando nas  historias unicas de cada um
    Novidades para encontrar e seu próximo livro para ler</p>

    <img src="imagens/landscape2.jpg" alt="transicao" class="img-fluid" id="segundaimagem">
</div>

-->


<!--
<div class="container-fluid">


<div id="imagem-container" class="img-fluid">
  <img src="imagens/bookopen.png" alt="Imagem Sobreposta" class="imagem-sobreposta">
  <div class="texto-container">
      <p class="titulo">Books open</p>
      <p class="descricao">Site focado em abrir asas para sua imaginação, através de uma ampla variedade de livros</p>
  </div>
</div>


</div> -->
