.containerall {
    display: flex; /* Permite organizar os elementos em uma coluna */
    flex-direction: column; /* Organiza os elementos em uma coluna (de cima para baixo) */
    min-height: 100vh; /* Garante que o contêiner ocupe pelo menos 100% da altura da tela */
}

footer {
    margin-top: auto; /* Empurra o rodapé para a parte inferior do contêiner */
    padding-top: 1rem 0; /* Adiciona espaço interno (padding) acima e abaixo do rodapé */
    text-align: center; /* Centraliza o texto dentro do rodapé */
    width: 100%; /* Faz o rodapé ocupar toda a largura do contêiner */

}
