<nav class="navbar p-3">
  <div class="container">
    <a href="#" class="navbar-brand" href="#" routerLink="/home">HOME</a>
    <ul class="navbar-nav d-flex flex-row gap-5">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/catalogo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: false }">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: false }">Disabled</a>
      </li>
    </ul>

  </div>
</nav>
