.card:hover{
  transform: none;
}
.list-group-item{
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #e4e4e421;
}
.list-group-item-outline{
  background-color: transparent;
}
.btn-sm{
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  transition: all 0.2s ;
}
.btn-sm:hover{
  background-color: transparent;
  border: 1px solid white;
}
@media (max-width: 768px) {
  .card img {
    height: auto; /* Ajusta a altura em telas menores */
  }
}
.icon{
  background-color: transparent;
}
.icon:hover{
  background-color: rgba(255, 255, 255, 0.186);
}
