*{
  text-decoration: none;
}
.card-img-top{
  height: 240px;
}
.cardlink{
  width: 200px;
}
.card-footer .text-body-primary,
.card-footer .text-body-secondary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.row{
  margin-right: 0;
  margin-left: 0;
}
.textoLivros{
  font-size: 1.2rem;
  color: gray;
}

.card-header{
  font-size: 1.6em;
  color: rgb(80, 80, 80);
}
