::ng-deep body {
    background-color: black;
    color: white;
}

.catalogo-home {
    position: relative;
    min-height: 100vh;
}

.img-fluid {
    filter: brightness(0.7) blur(6px);
    width: 100%;
    height: auto;
    max-width: 100%;
    position: relative;
}

.fs-1 {
    position: absolute;
    top: 15%; /* Ajuste este valor conforme necessário */
    left: 15%; /* Ajuste este valor conforme necessário */
    color: white; /* Certifique-se de que o texto é visível sobre a imagem */
    z-index: 3; /* Garante que o texto fique por cima da imagem */
    font-size: 1500%;
}




.fs-2 {
  position: absolute;
  top: 19%; /* Ajuste este valor conforme necessário */
  left: 15%; /* Ajuste este valor conforme necessário */
  color: white; /* Certifique-se de que o texto é visível sobre a imagem */
  z-index: 3; /* Garante que o texto fique por cima da imagem */
  font-size: 1000%;
}





  
