::ng-deep body {
  background-color: black;
  color: white;
}


#ficcao {

  margin-top: 6%;
  margin-left: 18%;
  margin-bottom: 1%;

}

#bookicon{

  position: absolute;
  margin-top: 19%;
  z-index: 3;
  width: 9%;
  margin-left: 45%;

}


#textonome{
  position: absolute;
  margin-top: 12%;
  margin-left: 41%;
  z-index: 5;
  text-align: left;
  
  font-size: 4px;
  padding: 5px;
}

#transicao1{
  padding-top: 5%;
  width: 100%;
  height: 50%;
  overflow: hidden;
}







#imagem-container {
  background-image: url(../../../../public/imagens/landscape2.jpg); 
  background-size: cover; /* Faz a imagem cobrir toda a div */
  background-position: center; 
  width: 100%; 
  height: 430px; 
  position: relative; 
  color: white; 
  padding: 20px; 
  box-sizing: border-box; 
  margin: 0; 
  min-height: 50px;
    min-width: 450px;
    margin-left: 0%;
}




.imagem-sobreposta {
  position: absolute; 
  
  top: 10%; 
  left: 39%; 
  width: 7%; 
  height: auto; 
  z-index: 1; 
}

.texto-container {
  position: relative; 
  z-index: 2; 
  display: flex; 
  flex-direction: column; 
  gap: 5px; 
}

.titulo {
  font-size: 5vw; 
}

.descricao {
  font-size: 3vw; 
  margin-top: 8%;
}


@media (max-width: 768px) {
  .imagem-container {
      height: 200px; 
  }

  .imagem-sobreposta {
      width: 8%; 
  }

  .titulo {
      font-size: 6vw;
  }

  .descricao {
      font-size: 4vw; 
  }
}

@media (max-width: 480px) {
  .imagem-container {
      height: 150px; 
  }

  .imagem-sobreposta {
      width: 8%; 
      margin-left: 10%;
  }

  .titulo {
      font-size: 7vw; 
  }

  .descricao {
      font-size: 5vw; 
  }
}

@media (max-width: 300px) {
  .imagem-sobreposta {
    margin-top: -4%;
}

}





@media (max-width: 151px) {
  .imagem-sobreposta {
    margin-left: 2%;
    margin-top: -15;
}

}


@media (max-width: 80px) {
  .imagem-sobreposta {
    margin-left: -19%;
    margin-top: -18;
}

}
