

<app-iniciocatalogo></app-iniciocatalogo>
<secao-livros></secao-livros>

<h1 class="fs-1" id="ficcao">Ficção</h1>
<app-secao-livrosficcao></app-secao-livrosficcao>



<!--
<div class="container-fluid" id="transicao1">
  <p class="fs-1" id="textonome">Books open</p>
    <img src="imagens/bookopen.png" alt="imagem logo" class="rounded float-start" id="bookicon">
    
    <p class="fs-1" id="transicaotexto">
      
      Booksopen é um site para amantes de livros.

    Descubra o melhor dos livros, lendo os seus livros favoritos e se aprofundando nas  historias unicas de cada um
    Novidades para encontrar e seu próximo livro para ler</p>
  
    <img src="imagens/landscape2.jpg" alt="transicao" class="img-fluid" id="segundaimagem">
</div>

-->



<div class="container-fluid">


<div id="imagem-container" class="img-fluid">
  <img src="imagens/bookopen.png" alt="Imagem Sobreposta" class="imagem-sobreposta">
  <div class="texto-container">
      <p class="titulo">Books open</p>
      <p class="descricao">Site focado em abrir asas para sua imaginação, através de uma ampla variedade de livros</p>
  </div>
</div>


</div>