
<div class="container-fluid">
    <div class="catalogo-home" style="background-color: black; min-height: 100vh;">
      <div class="texto-container">
        <p class="fs-1" id="Pesquisar">Pesquisar</p>
        <hr class="divider">
        <div id="texto2" class="fs-2">Livros</div>
        <div id="texto3" class="fs-3">Pesquise seus livros favoritos</div>
      </div>
        <img src="https://wallpapers-hub.art/wallpaper-images/235881.jpg" alt="imagem de fundo" class="img-fluid" id="primeiraimagem">
    </div>
    </div>